body {
  background-color: #009999;
  font-family: "Arial Narrow", 'Liberation Mono', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.dark {
  background-color: #000000;
  color: white;
}
header {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 25px;
  padding: 0;
  font-family: "Franklin Gothic Medium", "URW Gothic";
  font-size: 40px;
}
h1 {
  line-height: 70%;
}
h3 {
  font-size: 20px;
  margin-bottom: -50px;
}
#page {
  display: flex;
  flex-direction: row;
  flex: auto;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
}

.navlink {
  display: flex;
  flex-direction: column;
  background: none;
  color: white;
  border: none;
  padding: 8px 16px 20px 20px;
  max-width: 48px;
  text-align: center;
}

#window {
  display: flex;
  flex-direction: column;
  margin-left: 125px;
  border-style: solid;
  border-color: #999999;
  box-shadow: 1px 1px 2px black, -1px -1px 2px white;
  margin-bottom: 35px;
}
#window-bar {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  color: aliceblue;
  background-color: #000099;
  font-size: 12px;
  max-height: 25px;
}
#window-bar.dark {
  background-color: #ff0099;
}
h2 {
  margin: 1px;
}
#window-bar button {
  color: black;
  background-color: #cccccc;
  font-weight: bold;
  margin-bottom: auto;
  margin-top: 1px;
  margin-right: 1px;
}
#content {
  background-color: #cccccc;
  min-height: 200px;
  min-width: 400px;
  max-width: 600px;
  padding: 5px;
}
#content.dark {
  background-color: black;
}
p {
  margin-bottom: 20px;
}

.tab-copy {
  display: none;
  flex-direction: column;
  background-color: white;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 1px 1px 1px 1px #999999, -1px -1px 1px 1px #999999;
}
.tab-copy.dark {
  background-color: black;

  box-shadow: none;
}
section h2 {
  display: none;
}
#bread-tool {
  background-color: #cccccc;
  flex-direction: row;
  max-width: 400px;
}
#bread-tool.dark {
  background-color: black;
}
#input-fields {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#bread-tool input {
  max-width: 200px;
}
#bread-tool button {
  max-width: 80px;
}

footer {
  width: 100%;
  background-color: #cccccc;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
#nite {
  display: flex;
  flex-direction: row;
}
#nite span {
  margin: auto;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }
  h3 {
    margin-top: -45px;
  }

  nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 75px;
  }
  #window {
    margin-left: 0;
    margin-bottom: 30px;
    margin-top: 190px;
    max-width: 100%;
  }
  #content {
    min-width: initial;
    min-height: 40px;
  }
}
