body {
  background-color: #008080;
  font-family: "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.dark {
  background-color: #000000;
  color: white;
}
header {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 25pt;
  padding: 0;
  font-family: "Franklin Gothic Medium";
  font-size: 30pt;
}
#subtitle {
  font-size: 15pt;
  margin-bottom: -50pt;
}
#page {
  display: flex;
  flex-direction: row;
  flex: auto;
}
#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  overflow: auto;
}

.navlink {
  display: flex;
  flex-direction: column;
  background: none;
  color: white;
  border: none;
  padding: 8px 16px 20px 20px;
  max-width: 48px;
}

.navlink span {
  padding-top: 2px;
  text-align: center;
}
#window {
  display: flex;
  flex-direction: column;
  margin-left: 125px;
  border-style: solid;
  border-color: #818181;
  flex-shrink: 1;
}
#window-bar {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  color: aliceblue;
  background-color: #010081;
  font-size: 9pt;
  max-height: 20pt;
}
#window-bar.dark {
  background-color: #ff0081;
}
h2 {
  margin: 1pt;
}
#window-bar button {
  color: black;
  background-color: #c3c3c3;
  font-weight: bold;
  margin-bottom: auto;
  margin-top: 1pt;
  margin-right: 1pt;
}
#content {
  background-color: #c3c3c3;
  padding: 5pt;
  flex-basis: 20em;
}
#content.dark {
  background-color: black;
}
footer {
  /* flex: none; */
  width: 100%;
  background-color: #c3c3c3;
  position: fixed;
  bottom: 0;
  left: 0;
}
#nite {
  display: flex;
  flex-direction: row;
}
#nite span {
  margin: auto;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  #page {
    flex-direction: column;
  }
  #navigation {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  #window {
    margin-left: 0;
    margin-bottom: 30pt;
  }
}
